<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>神月瑠奈改造Yuki Youtubeインスタンス一覧</title>
<meta name="description" content="神月瑠奈が改造したYuki Youtubeの一覧が載っています。" />
<meta name="keywords" content="Yuki Youtube,インスタンス,改造インスタンス" />
<link href="css/bace.css" rel="stylesheet" />
</head>
<body>
  <ul>
    <li><a href="/">ホーム</a></li>
    <li><a href="/bbs">掲示板（BBS）</a></li>
  </ul>
<iframe src="https://github.com/LunaKamituki/Luna-yuki-youtube/blob/main/main.html" width="auto" height="auto"></iframe>
</body>
</html>
